<div class="scrollable" ng-controller="videoController">

    <div class="scrollable">
        <div class="scrollable-content container section">
            <div class="panel-group" id="accordion">
                <!--one-->

                <div style="padding: 0px">
                    <div id="player"></div>
                </div>

                <div class="panel panel-default" ng-repeat="informacao in lista">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a ng-click="changevideo(informacao.vid_descricao)" toggle target="collapseOne">{{informacao.vid_titulo}}</a>
                        </h4>
                    </div>
                    <!--<div id="collapseOne" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
                        <div class="panel-body" style="background-color: #079fbf;">
                            <a >{{informacao.vid_titulo}}</a>
                        </div>
                    </div>-->
                </div>


                <div style="padding: 100px;"></div>
            </div>
        </div>
    </div>

</div>
